.text-truncate-custom {
	overflow: hidden; /* Nasconde il testo che esce fuori dai limiti */
	text-overflow: ellipsis; /* Aggiunge i tre punti */
	display: -webkit-box; /* Necessario per il supporto di più linee */
	-webkit-line-clamp: 4; /* Numero massimo di linee da mostrare */
	-webkit-box-orient: vertical; /* Imposta l'orientamento verticale */
	white-space: normal; /* Permette il wrapping del testo */
	max-height: 6em; /* Regola l'altezza in base al numero di linee */
}
